<section id="home" class="home">
        <div class="row mx-auto mt-3">
        <div class="col-md-10 mx-auto">
            <h5 class="mx-auto text-center" style="color:#311183;">
               Welcome Ardru
            </h5>
        </div>
    </div>
    <div class="row mx-auto mt-3" style="height:100%;width:100%;">
        <div class="col-md-10 mx-auto">
            <img src="/images/img.png" class = "img-fluid img-responsive d-block mx-auto"  alt="" srcset="">
        </div>
    </div>
    <div class="row mx-auto mt-3">
        <div class="col-md-10 mx-auto">
            <h5 class="mx-auto text-center" style="color:#311183;">
                Your Total Expenses: ₹{{totalAmount}}
            </h5>
        </div>
    </div>
     <div class="row mx-auto mt-3">
        <div class="col-md-10 mx-auto">
            <h5 class="mx-auto text-center" style="color:#311183;">
              <a href="/display-details" class="btn" style="color:#311183;border:1px solid #311183;box-shadow:none;">Your Transactions</a>
            </h5>
        </div>
    </div>

</section>